# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:

- Use pandas to import data from a CSV and and an Excel spreadsheet  

##  Loading Files with Summary or Meta Data

Load either of the files `'Zipcode_Demos.csv'` or `'Zipcode_Demos.xlsx'`. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled `'Data'`.

In [1]:
# Import pandas using the standard alias
import pandas as pd

In [2]:
# Import the file and print the first 5 rows
df = pd.read_csv('Data/Zipcode_Demos.csv')
df.head()

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,JURISDICTION NAME,10005.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,COUNT PARTICIPANTS,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,COUNT FEMALE,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,PERCENT FEMALE,0.404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Print the last 5 rows of df
df.tail()

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
52,53,10006,6,2,0.33,4,0.67,0,0,6,...,6,100,0,0,6,1,0,0,6,100
53,54,10007,1,0,0,1,1,0,0,1,...,1,100,1,1,0,0,0,0,1,100
54,55,10009,2,0,0,2,1,0,0,2,...,2,100,0,0,2,1,0,0,2,100
55,56,10010,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56,57,10011,3,2,0.67,1,0.33,0,0,3,...,3,100,0,0,3,1,0,0,3,100

In [7]:
df.shape

(57, 47)

In [28]:
df_top = pd.read_csv('Data/Zipcode_Demos.csv', skiprows=1, nrows = 45, usecols=[0,1,2])
df_top

     1                           Unnamed: 1          0
0    2                    JURISDICTION NAME  10005.800
1    3                   COUNT PARTICIPANTS      9.400
2    4                         COUNT FEMALE      4.800
3    5                       PERCENT FEMALE      0.404
4    6                           COUNT MALE      4.600
5    7                         PERCENT MALE      0.396
6    8                 COUNT GENDER UNKNOWN      0.000
7    9               PERCENT GENDER UNKNOWN      0.000
8   10                   COUNT GENDER TOTAL      9.400
9   11                 PERCENT GENDER TOTAL     80.000
10  12               COUNT PACIFIC ISLANDER      0.000
11  13             PERCENT PACIFIC ISLANDER      0.000
12  14                COUNT HISPANIC LATINO      2.000
13  15              PERCENT HISPANIC LATINO      0.105
14  16                COUNT AMERICAN INDIAN      0.000
15  17              PERCENT AMERICAN INDIAN      0.000
16  18             COUNT ASIAN NON HISPANIC      3.600
17  19           PERCENT ASIAN NON HISPANIC      0.437
18  20             COUNT WHITE NON HISPANIC      0.800
19  21           PERCENT WHITE NON HISPANIC      0.036
20  22             COUNT BLACK NON HISPANIC      2.600
21  23           PERCENT BLACK NON HISPANIC      0.181
22  24                COUNT OTHER ETHNICITY      0.400
23  25              PERCENT OTHER ETHNICITY      0.040
24  26              COUNT ETHNICITY UNKNOWN      0.000
25  27            PERCENT ETHNICITY UNKNOWN      0.000
26  28                COUNT ETHNICITY TOTAL      9.400
27  29              PERCENT ETHNICITY TOTAL     79.900
28  30       COUNT PERMANENT RESIDENT ALIEN      0.500
29  31     PERCENT PERMANENT RESIDENT ALIEN      0.061
30  32                     COUNT US CITIZEN      8.900
31  33                   PERCENT US CITIZEN      0.739
32  34           COUNT OTHER CITIZEN STATUS      0.000
33  35         PERCENT OTHER CITIZEN STATUS      0.000
34  36         COUNT CITIZEN STATUS UNKNOWN      0.000
35  37       PERCENT CITIZEN STATUS UNKNOWN      0.000
36  38           COUNT CITIZEN STATUS TOTAL      9.400
37  39         PERCENT CITIZEN STATUS TOTAL     80.000
38  40     COUNT RECEIVES PUBLIC ASSISTANCE      2.300
39  41   PERCENT RECEIVES PUBLIC ASSISTANCE      0.151
40  42    COUNT NRECEIVES PUBLIC ASSISTANCE      7.100
41  43  PERCENT NRECEIVES PUBLIC ASSISTANCE      0.649
42  44      COUNT PUBLIC ASSISTANCE UNKNOWN      0.000
43  45    PERCENT PUBLIC ASSISTANCE UNKNOWN      0.000
44  46        COUNT PUBLIC ASSISTANCE TOTAL      9.400

In [8]:
df_bottom = pd.read_csv('Data/Zipcode_Demos.csv',skiprows=47)
df_bottom
# Clean up the dataset

,47,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,48,10001,44,22,0.50,22,0.50,0,0,44,...,44,100,20,0.45,24,0.55,0,0,44,100
1,49,10002,35,19,0.54,16,0.46,0,0,35,...,35,100,2,0.06,33,0.94,0,0,35,100
2,50,10003,1,1,1.00,0,0.00,0,0,1,...,1,100,0,0.00,1,1.00,0,0,1,100
3,51,10004,0,0,0.00,0,0.00,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,52,10005,2,2,1.00,0,0.00,0,0,2,...,2,100,0,0.00,2,1.00,0,0,2,100
5,53,10006,6,2,0.33,4,0.67,0,0,6,...,6,100,0,0.00,6,1.00,0,0,6,100
6,54,10007,1,0,0.00,1,1.00,0,0,1,...,1,100,1,1.00,0,0.00,0,0,1,100
7,55,10009,2,0,0.00,2,1.00,0,0,2,...,2,100,0,0.00,2,1.00,0,0,2,100
8,56,10010,0,0,0.00,0,0.00,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
9,57,10011,3,2,0.67,1,0.33,0,0,3,...,3,100,0,0.00,3,1.00,0,0,3,100

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill-formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and the commas within those fields themselves. For example, we could have a table like this:  

`ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765`

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
`"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"`

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled `'Yelp_Reviews_corrupt.csv'`. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [27]:
df_corrupt = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv',nrows=21)
df_corrupt

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0.0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3.0,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0.0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2.0,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0.0,TlvV-xJhmh7LCwJYXkV-cg
5,11,UBv8heCQR0RPnUQG0zkXIQ,0,2016-09-23,0,HkYqGb0Gplmmk-xlHTRBoA,1,The score should be negative. Its HORRIBLE. Th...,0.0,NhOc64RsrTT1Dls50yYW8g
6,12,hdgYnadxg0GANhWOJabr2g,0,2014-08-23,0,RgqWdZA4xR023iP3T6jVfA,5,I went there twice and I am pretty happy with ...,0.0,NhOc64RsrTT1Dls50yYW8g
7,19,gZGsReG0VeX4uKViHTB9EQ,0,2017-08-16,0,51RHs_V_fjuistnuKxNpEg,5,Finally! After trying many Mexican restaurants...,0.0,5ngpW5tf3ep680eG1HxHzA
8,25,f-v1fvtnbdw_QQRsCnwH-g,0,2017-11-18,0,alI_kRKyEHfdHibYGgtJbw,1,I have to write a review on the Fractured Prun...,0.0,Fc_nb6N6Sdurqb-rwsY1Bw
9,26,yz66FIUPDKGhILDWzRLeKg,0,2017-11-18,0,85DRIjwPJOTb4q0qOlBstw,1,I wish i could tell you all about the food but...,1.0,Fc_nb6N6Sdurqb-rwsY1Bw
10,27,6qDRqHWqf0EeHupSUEBfKg,0,2015-12-10,0,GbiLIKmQPVCBtdNkTVdVSA,5,Wonderful! One of my favorite places. BBQ is e...,0.0,G22ITfVETYHtIhnn5lLRrQ
11,28,7AlULGZI1pHt0imODsqdkg,0,2012-02-12,0,UaHgsL0xS4UnJ_iKqeOk_w,5,The price is about the same as Quizinos. The s...,0.0,FjH3TH8OvHGLNEbzdEYlNg
12,29,th4pZ5LkoIIkb1Vmu_m2DA,0,2012-02-12,0,c4zzAD1S6721Fh-acCBy-g,4,The food was ok. You get a lot of food for the...,0.0,FjH3TH8OvHGLNEbzdEYlNg
13,30,nsSfCKW9KDB4COj9bzXApw,0,2012-02-12,0,TTBwocu2mvqJFJrwmJN0Sw,5,The staff were friendly and helpful. The food ...,1.0,FjH3TH8OvHGLNEbzdEYlNg
14,31,cP8ErpZfRzdVR5Fvks-pnQ,0,2012-02-12,0,-CresnnXQSHrQ85Ogm-Pqw,5,The staff were very helpful. We painted potter...,0.0,FjH3TH8OvHGLNEbzdEYlNg
15,32,Edr6SafmQrZa6CcFuItoqg,0,2014-06-03,0,U04YgYr4PiGUxB46J4xapg,2,Limited vegetarian options. Ordered Greek sala...,0.0,B7Fh30KQT1xPSGt_pIhRRA
16,35,SpJYus_184M2TdT7t52rIA,0,2016-11-18,0,s9cpVj40VR_yl0lXbZQe6w,5,I trust my vehicles here. Comparable prices. M...,0.0,zx_Op2OAOM_fRic9tU-jqA
17,40,qdC2h3MqCNussc5lhzL7gg,0,2015-11-05,0,AJ0IglpYAp2D0daOlVGIdg,1,This place doesn't even deserve 1 star. Horrib...,18.0,Ka7TIp74VHSa90rfdg4_2g
18,41,XgRDG9E_WLEbl8S-QUqQkQ,0,2015-11-05,0,5D_MsAJHrMa8QKkpE3g1Sg,5,The butter burger was cooked perfectly and jui...,0.0,Ka7TIp74VHSa90rfdg4_2g
19,42,awgoBwuhzlLGKEIverTGjQ,0,2017-01-21,0,5bWN_IN8MQGjJ6_ZIXffDw,5,Best location ever! I love love love the manag...,0.0,yyPHK6khPa4-ErV9U32x3A
20,74,iO3GuIiZxzv-iETGVnoeVA,0,2016-11-06,0,RW_mYzHYfdqn6g7xVgIcKg,4,This was a real fun time. Lots of laughs and e...,NaN,NaN

In [17]:
# Hint: Here's a useful programming pattern to use

try:
    # Do something

except Exception as e:
    
    # Handle your exception e

SyntaxError: unexpected EOF while parsing (<ipython-input-17-34d535e92820>, line 8)

## Summary

Congratulations, you now practiced your Pandas-importing skills!